{% extends "layout.html" %}
{% block container %}
	<div class="table-responsive">
    {% if notrows %}
        <div class="alert alert-warning" role="alert">
            <p>{{ notrows }}</p>
        </div>
    {% else %}
		<table class="table table-hover">
			<thead>
				<tr>
				{% for header in table_headers %}
                    {% if header != "Tarjeta" %}
					    <th>{{ header }}</th>
                    {% endif %}
				{% endfor %}
                <th>Editar</th>
                <th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{% for user in table_content %}
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td>{{ user.nombre }}</td>
						{% if user.permiso == 0 %}
							<td>Socio/a</td>
						{% endif %}
						{% if user.permiso == 1 %}
							<td>Junta</td>
						{% endif %}
                        <td><button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                    data-target="#editarModal{{ user.id }}">Editar
                        </button></td>
						<td><button type="button" class="btn btn-outline-danger">Eliminar</button></td>
					</tr>
                    <div class="modal fade" id="editarModal{{ user.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="editarModalTitulo" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="editar{{ user.id }}">Editar usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                            onclick="clearModal('editarUsuario'+{{ user.id }})">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form id="editarUsuario{{ user.id }}">
                                <div class="form-row">
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="{{ user.nombre }}">
                                    </div>
                                    <div class="col">
                                      <select class="custom-select" id="permisoSelect{{ user.id }}"
                                              placeholder="{{ user.permiso }}">
                                        {% if user.permiso == 0 %}
                                            <option value="0" selected>Socio/a</option>
                                            <option value="1">Junta</option>
                                        {% else %}
                                            <option value="0">Socio/a</option>
                                            <option value="1" selected>Junta</option>
                                        {% endif %}
                                      </select>
                                    </div>
                                  </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
                            onclick="clearModal('editarUsuario'+{{ user.id }})">Cancelar</button>
                            <button type="button" class="btn btn-outline-success">Guardar</button>
                          </div>
                        </div>
                      </div>
                    </div>
				{% endfor %}
			</tbody>
		</table>
    {% endif %}
	</div>
{% endblock %}