<!DOCTYPE html>
<html lang="es">
	<!-- CABECERA -->
	<head>
		<meta charset="utf-8">
        <title>{{ title }}</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap.min.js') }}" rel="script">
	</head>
	<!-- FIN CABECERA -->
	<!-- CUERPO -->
	<body>
	<div class="container">
		<!-- BARRA DE NAVEGACION -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/inicio"><img src="../static/logo_CAT_pequeño_PNG.png"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
            {% for pag in pages %}
                {% if pag.lower() == title.lower() %}
                  <a class="nav-item nav-link active" href="#">{{ title }}<span class="sr-only">(current)</span></a>
                {% else %}
                  <a class="nav-item nav-link" href="/{{ pag.lower() }}">{{ pag }}</a>
                {% endif %}
            {% endfor %}
		    </div>
		  </div>
		</nav>
		<!-- FIN BARRA DE NAVEGACION -->
	</div>
    <br>
    <div class="container">
      {% block container %}{% endblock %}
    </div>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js"></script>
    <script type="text/javascript" src="../static/functions.js"></script>
	</body>
	<!-- FIN CUERPO -->
</html>	